body {
  background-color: #EBFFFA;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 6%;
}
h3 {margin-top: 0px;
    margin-left: 30px;
}
li {margin-top: 0px;
    margin-left: 30px;}
h1 {
  color: #0DCEDA;
  font-family: serif;
}
h3 {
  color:#0DCEDA;
  font-family: sans-serif;
}
table {margin-top: 0px;
       margin-left: 30px;}
a.one {margin-top: 0px;
     margin-left: 30px;}
